@font-face {
  font-family: 'Inter';
  src: url('@assets/Inter-Regular.woff');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  gap: 12px;
  background-color: #666;
  text-align: center;
  color: white;
}

main {
  flex: 1;
  padding: 20px;
  background-color: #f1f1f1;
}

#project-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;

  .project {
    display: flex;
    flex-direction: column;
    width: 250px;
    min-height: 250px;
    height: max-content;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

    h3 {
      text-align: center;
    }

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .delete-icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.hidden {
  display: none;
}
